/guia4/Ejercicio4/nbproject/private/
/guia4/Ejercicio4/build/
/guia4/ejercicio11/nbproject/private/
/guia4/ejercicio11/build/
/guia4/Ej1-Guia4/nbproject/private/
/guia4/Ej1-Guia4/build/
/guia4/llenarVector/nbproject/private/
/guia5/llenarVector/nbproject/private/
/guia5/llenarVector/build/
/guia5/vectorN/nbproject/private/
/guia5/vectorN/build/
/guia5/buscarnumVector/nbproject/private/
/guia5/ejercicio5/nbproject/private/
/guia5/ejercicio5/build/
/guia5/ejercicio4/nbproject/private/
/guia5/ejercicio4/build/